body {
  background-image: url(brick-wall.html);
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.slogan {
  font-family: "Satisfy";
  font-size: 46px;
  background-color: rgba(226, 0, 0, 0.60);
  border: 20px solid black;
  border-color: rgba(226, 0, 0, 0.62);
  border-radius: 20px;
  text-align: center;
  color: rgb(42, 233, 240);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow: -3px 0px rgba(113, 240, 245, 0.60);
}
.nuka-girl {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(122, 0, 0, 0.60);
  margin-top: 20px;
  width: 50%;
  border-bottom: 0px;
  border: 12px solid rgba(0, 0, 0, 0.418);
  border-color: rgba(226, 0, 0, 0.40);
  border-radius: 30px;

}
.welcome-paragraph {
  font-family: "Satisfy";
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-left: 600px;
  padding-right: 600px;
  color: rgba(226, 0, 0, 70);
  text-shadow: 0px 0px rgba(0, 0, 0, 20);
  border-bottom: 0px;
  background-color: rgba(113, 240, 245, 0.60);
  border: 3px solid rgba(113, 240, 245, 0.60);
  border-radius:25px;
}
.welcome-paragraph-2 {
  font-family: "Satisfy";
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-left: 700px;
  padding-right: 700px;
  color: rgba(226, 0, 0, 70);
  text-shadow: 0px 0px rgba(0, 0, 0, 20);
  margin-bottom: 0px;
  border-bottom: 0px;
  background-color: rgba(113, 240, 245, 0.60);
  border: 3px solid rgba(113, 240, 245, 0.60);
  border-radius:25px;
}
.nuka-classic {
  width: 325px;
  border-radius: 25px;
  border: 5px solid black;
  border-color: rgb(226, 0, 0);
  float: left;
  
}
.quantum {
  width: 400px;
  border-radius: 25px;
  border: 5px solid black;
  text-align: right;
  float: right;
  border-color: rgb(113, 240, 245);
}
.page-two {
  font-family: "Satisfy";
  font-size: 30px;
  color: rgb(113, 240, 245);
  margin-top: 30px; 
  margin-left: 500px;
  margin-right: 500px;
  text-shadow: -3px -1px rgba(0, 0, 0, 0.6);
  text-align: center;

}
.tm-notice {
  font-size: 9px;
  text-align: center;

}